 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  table.mycustom td.td-ranking,   table.mycustom th{
      display: inline;
      font-size: 0.7em !important;
      float: left;
  }

 }

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .d-block-none{
    display: none !important;
  }
  #user-icon{
    margin-left: auto !important;
    margin-right: auto !important;
  }


 }

 @media (max-width: 768px) {
   .d-block-none{
     display: none !important;
   }
   #user-icon{
     margin-left: auto !important;
     margin-right: auto !important;
   }
   .container {
       max-width: unset;
   }

   table.mycustom td:first-child{
     display: none
   }

   table.mycustom thead th {
       display: none;
   }
   table.mycustom td,table.mycustom th{
       display: block;
   }
   table.mycustom td{
     border: 0px;
   }

   table.mycustom td:last-child{
     text-align: right;
   }
   table.mycustom td.td-img{
     text-align: center;
   }

   table.mycustom td[data-th]:before  {
       content: attr(data-th);
       white-space: pre-line;
       font-weight: bold;
   }
   table.mycustom td.td-ranking, table.mycustom th{
       display: inline;
       font-size: 0.9em;
       float: left;
   }
   table.mycustom td.td-ranking[data-th]:before  {
       content: attr(data-th);
       white-space: pre-line;
       font-weight: bold;
   }

  }

 /* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .grid-performa{
    grid-template-columns: 1fr;
    grid-auto-columns: auto auto auto auto auto auto;
    grid-template-areas:
    "grid-performa-1 "
    "grid-performa-2"
    "grid-performa-4"
    "grid-performa-5"
    "grid-performa-3"
    "grid-performa-6" !important
  }
  .grid-box-menu{
    grid-template-columns: 3.5rem 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "area-bm-1 area-bm-2"
  }
  .area-bm-1{
    max-width: 20px;
    vertical-align: middle
  }
  .area-bm-1>img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .box-menu{
    text-align: left;
  }
  .grid-performa-coach{
    grid-auto-columns: 100%;
    grid-auto-rows: auto auto;
    grid-template-areas:
    "performa-form"
    "performa-chart"
  }
  .container .home-coach{
    padding-left: 0px !important;
    padding-right: 0px !important
  }
  .pd-bottom{
    padding-bottom: 20px;
  }
  .login-background{
    background-image: url('../img/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  .box-login{
   background-color: unset !important;
   margin: 0 auto;
   width: 100vw;
   border-radius: 0px 100% 100% 0px;
   position: relative;
   padding-left: unset;
  }
  .title-apps{
    display: none;
  }
  .form-login-container{
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
 }

 /* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }
